@charset "utf-8";
/* CSS Document */

#icon-ody-events-plugin{
	background-image: url(../images/icon32X32.png);
}

.nodata{
	color:silver;
	font-size:11px; 
	font-style:italic;
	text-align:center;
}

#eventDates{
	position:relative;
	margin: 5px 0;
	padding:5px;
	min-height:23px;
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif;
}
.date_tag{
	width:100px;
	padding: 2px 5px 4px 25px;
	text-align:center;
	margin: 2px;
	display:inline-block;
	font-size:16px;
	color:#505050;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:#dadada;
	position:relative;
	cursor:default;
	-moz-box-shadow: 1px 1px 2px #939393;
	-webkit-box-shadow:  1px 1px 2px #939393;
	box-shadow:  1px 1px 2px #939393;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#939393')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#939393');
	text-shadow: 1px 1px #ffffff;	
}

.date_tag:hover{
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow:  1px 1px 2px #000;
	box-shadow:  1px 1px 2px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');	
}
.date_tag a{
	position:absolute;
	width: 10px;
	height:10px;
	display:block;
	background: url(../images/remove_tag.gif) no-repeat left center;
	top:7px;
	left:7px;
}
.date_tag a:hover{
	background: url(../images/remove_tag.gif) no-repeat right center;
}
.td_label{
	text-align:right;
	white-space:nowrap; 
	vertical-align:top; 
	padding-top:6px;
}

.dates_header {
	color:white;
	background:#c0c0c0;
	padding:3px;
	font-family:Georgia;
	font-size: 12px;
}
.ody_calendar{
	max-width: 300px !important;
	display:none;
}
.colorPanel{
	position: absolute;
	z-index:100;
	left:120px;
	top: -80px;
}

#pro_message{
	display:none;
}
.pro_message {
	margin: 20px 0;
	padding:10px;
	background-color:#e5e5e5;
	border:1px solid silver;
	display:inline-block;
}

.pro_message_ul {
	list-style-type:square !important;
	margin-left:20px;
}

.pickcolor{
	width:60px;
}